body {
    background-image: url(rose.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  /* General Styles */
body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.6;
margin: 0;
padding: 0;
background-color: #f9f9f9;
color: #333;
}

/* Container */
.container {
max-height: fit-content;
max-width: 800px;
margin: 20px auto;
padding: 20px;
background-color: rgba(255, 228, 196, 0.5);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

/* Title Styling */
#prose-title {

font-size: 2rem;
margin-bottom: 10px;
color: #6e4c0d;
text-align: center;
}

/* Description Styling */
#prose-description {
font-size: 1.2rem;
margin-bottom: 20px;
color: #6e4c0d;
text-align: center;
}

/* Content Styling */
#prose-content {
font-size: 1rem;
margin-bottom: 20px;
line-height: 1.8;
}

/* Author Styling */
#prose-author {
font-size: 0.9rem;
font-style: italic;
text-align: right;
margin-bottom: 20px;
}

/*Button Styling */

.button-bc {
  align-items: center;
  background-color: rgba(255, 228, 196, 0.8);
  border: 2px solid rgba(200, 180, 150, 0.8);
  border-radius: 8px;
  box-sizing: border-box;
  color: #5a4a3c; 
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 14px;
  height: 36px;
  justify-content: center;
  line-height: 20px;
  max-width: 100%;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-bc:after {
    background-color: rgba(200, 180, 150, 0.8);
  border-radius: 6px;
  content: "";
  display: block;
  height: 36px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(6px, 6px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-bc:hover {
    background-color: rgba(255, 228, 196, 1); 
    color: #4a3a2c; 
}

.button-bc:hover:after {
  transform: translate(0, 0);
}

.button-bc:active {
    background-color: rgba(255, 218, 186, 1);
  outline: 0;
}


.button-bc:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 25px;
  }
}